/* start global variable */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root{
    --bg-color: #fcfcfc;
    --second-bg-color: #fff4f4;
    --text-color: #000;
    --second-text-color: #fff;
    --main-color: #fe1d4e;

    --transition: 0.3s ease;
}

html{
    font-size: 62.5%;
    /* overflow: hidden; */
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}
/* end global variable */

/* start header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background-color: #ffffffb3;
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.logo:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

span{
    color: var(--main-color);
}

.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.1s ease;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
/* end header */

section{
    min-height: 100vh;
    padding: 10rem 9%;
}

/* start home */
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.home-circle1{
    position: absolute;
    background-color: var(--main-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 30vw;
    width: 30vw;
    bottom: 10rem;
    right: 0;
    z-index: -1;
}

.home-circle2{
    position: absolute;
    background-color: #ff2856;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    height: 25vw;
    width: 25vw;
    top: 0;
    right: 50px;
    z-index: -1;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
    font-size: 4.5rem;
}

.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img{
    display: grid;
    place-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 15px solid var(--main-color);
}

.home-img img{
    position: relative;
    background-color: var(--second-text-color);
    border: 25px solid var(--second-text-color);
    width: 28vw;
    border-radius: 50%;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.home-content p{
    font-size: 1.8rem;
    font-weight: 500;
    max-width: 650px;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background-color: transparent;
    font-size: 2.5rem;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: var(--main-color);
    margin: 3rem  1.5rem 3rem 0;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.social-icons a:hover{
    color: var(--second-text-color);
    transform: scale(1.1)translateY(-5px);
    -webkit-transform: scale(1.1)translateY(-5px);
    -moz-transform: scale(1.1)translateY(-5px);
    -ms-transform: scale(1.1)translateY(-5px);
    -o-transform: scale(1.1)translateY(-5px);
    background-color: var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1.4rem 2.8rem;
    background-color: var(--main-color);
    color: var(--second-text-color);
    border-radius: 15px;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.btn:hover{
    background-color: var(--bg-color);
    color: var(--main-color);
    border: 3px solid var(--main-color);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.text-animation span{
    position: relative;
}

.text-animation span::before{
    content: 'Frontend Developer';
    color: var(--main-color);
    animation: words 20s infinite;
    -webkit-animation: words 20s infinite;
}

.text-animation span::after{
    content: '';
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 102%;
    border-left: 2px solid #f1f1f1;
    right: -8px;
    animation: cursor 0.6s infinite;
    -webkit-animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words{
    0%, 20%{
        content: 'Web Designer';
    }
    21%, 40%{
        content: 'Frontend Developer';
    }
    41%, 60%{
        content: 'Web Designer';
    }
    61%, 80%{
        content: 'Frontend Developer';
    }
    81%, 100%{
        content: 'Web Designer';
    }
}

@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}
/* end home */

/* start about */
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    background-color: var(--second-bg-color);
}

.about-circle{
    position: absolute;
    left: -150px;
    margin-top: 15rem;
    height: 34vw;
    width: 34vw;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--main-color);
}

.about-img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: grid;
    place-items: center;
    border: 15px solid var(--main-color);
}

.about-img img{
    position: relative;
    background-color: var(--second-text-color);
    border: 25px solid var(--second-text-color);
    width: 26vw;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.heading{
    text-align: center;
    font-size: 7rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.5;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.about-content .text-animation span::before{
    content: 'Frontend Developer';
    color: var(--main-color);
    animation: words 20s infinite;
    -webkit-animation: words 20s infinite;
}

.about-content .text-animation span::after{
    content: '';
    background-color: var(--second-bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 102%;
    border-left: 2px solid #f1f1f1;
    right: -8px;
    animation: cursor 0.6s infinite;
    -webkit-animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
/* end about */

/* start education & courses */
.timeline-section{
    min-height: 100vh;
    padding: 6.25rem .9375rem;
    background-color: var(--bg-color);
}

.edu{
    margin-top: 3rem;
    padding-top: 1rem;
}

.timeline-section h2{
    margin-bottom: 5rem;
}

.timeline-items{
    max-width: 62.5rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 1px);
}

.timeline-item{
    margin-bottom: 2.5rem;
    width: 100%;
    position: relative;
}

.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot{
    height: 20px;
    width: 20px;
    background-color: var(--main-color);
    position: absolute;
    top: 10px;
    left: calc(50% - 8px);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.timeline-date{
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--second-text-color);
    margin: 6px 0 12px;
}

.timeline-content{
    background-color: var(--main-color);
    backdrop-filter: blur(20px);
    border: 1px solid #e0e0f440;
    padding: 1.875rem;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    cursor: pointer;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.timeline-content:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.timeline-content h3{
    font-size: 1.5rem;
    color: var(--second-text-color);
    margin: 0 0 10px;
    font-weight: 500;
}

.timeline-content p{
    color: var(--second-text-color);
    opacity: 0.8;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.375rem;
}
/* end education & courses */

/* start projects */
.projects{
    background-color: var(--second-bg-color);
}

.projects-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.projects .heading{
    margin-bottom: 5rem;
}

.projects-box img{
    width: 30rem;
    border-radius: 10px 10px 0 0 ;
    -webkit-border-radius: 10px 10px 0 0 ;
    -moz-border-radius: 10px 10px 0 0 ;
    -ms-border-radius: 10px 10px 0 0 ;
    -o-border-radius: 10px 10px 0 0 ;
    cursor: pointer;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.projects-box img:hover{
    border-radius: 10px;
    box-shadow: 0 0 15px var(--main-color);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.projects-item{
    border: 3px solid var(--main-color);
    min-height: 250px;
    max-width: 450px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.projects-item .btns{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
}
/* end projects */

/* start skills */
.skills h2{
    margin-bottom: 5rem;
}

.skills-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills-container .skill-box{
    flex: 1 1 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 3rem;
    background-color: var(--main-color);
    color: var(--second-text-color);
    cursor: pointer;
    border: 3px solid #f4f4f4;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.skills-container .skill-box:hover{
    border-color: var(--main-color);
    color: var(--main-color);
    background-color: var(--second-text-color);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.skill-box i{
    font-size: 7rem;
    margin-bottom: 1.5rem;
}

.skill-box h3{
    font-size: 2.6rem;
}
/* end skills */

/* start contact */
.contact{
    background-color: var(--second-bg-color);
}

.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto 3rem;
    text-align: center;
}

.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input, 
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    margin-block: 1rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
}
/* end contact */

/* start footer */
.footer{
    background-color: var(--main-color);
    text-align: center;
}

.footer h4{
    font-size: 1.5rem;
    padding-bottom: 3rem;
    color: var(--second-text-color);
}

.social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background-color: transparent;
    font-size: 2.5rem;
    border: 0.2rem solid var(--bg-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: var(--bg-color);
    margin: 3rem  0.5rem 2rem 0;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.social a:hover{
    color: var(--main-color);
    transform: scale(1.1)translateY(-5px);
    -webkit-transform: scale(1.1)translateY(-5px);
    -moz-transform: scale(1.1)translateY(-5px);
    -ms-transform: scale(1.1)translateY(-5px);
    -o-transform: scale(1.1)translateY(-5px);
    background-color: var(--bg-color);
}
/* end footer */

/* scrollbar */
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

/* start responsive */
@media(max-width:1200px){
    html{
        font-size: 55%;
    }

    .home-circle1{
        bottom: 5rem;
        width: 35vw;
        height: 35vw;
    }

    .home-circle2{
        bottom: 5rem;
        width: 30vw;
        height: 30vw;
    }
}

@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .skills{
        padding-bottom: 7rem;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media(max-width:895px){
    #menu-icon{
        display: block;
    }

    .heading{
        font-size: 5rem;
    }

    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        background-color: var(--second-text-color);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        color: var(--text-color);
        font-size: 2rem;
        margin-block: 3rem;
    }

    .navbar a:hover{
        color: var(--text-color);
    }

    .home{
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }

    .home-content h3:nth-of-type(2){
    margin-bottom: 3rem;
    font-size: 3rem;
}

    .home-circle1{
        width: 45vw;
        height: 45vw;
        top:35rem;
    }

    .home-circle2{
        width: 55vw;
        height: 55vw;
        top:10rem;
    }

    .home-img{
        display: grid;
        border: none;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 4.5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
        border: 25px solid var(--main-color);
    }

    .about{
        flex-direction: column-reverse;
    }

    .about-circle{
        left: -50px;
        height: 50vw;
        width: 50vw;
    }

    .about-content{
        margin: 1rem 4rem;
    }

    .about-img{
        border: none;
    }

    .about img{
        width: 70vw;
        margin-block: 1rem 3rem;
        border: none;
        border: 25px solid #ff2856;
    }

    .skills h2{
        margin-bottom: 3rem;
    }

    .timeline-items::before{
        left: 7px;
    }

    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }

    .timeline-dot{
        left: 0;
    }
}
/* end responsive */